<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Platforme_Bridge::bridge" title="Bridge">
                        <resource id="Platforme_Bridge::store" title="Store" />
                        <resource id="Platforme_Bridge::development" title="development" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
