<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Platforme_Bridge::store" title="Store" module="Platforme_Bridge" parent="Magento_Backend::content" sortOrder="10"  resource="Platforme_Bridge::store"/>
        <add id="Platforme_Bridge::general" title="General" module="Platforme_Bridge" parent="Platforme_Bridge::store" sortOrder="10" action="faq/faq" resource="Platforme_Bridge::general"/>
    </menu>
</config>
