<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bridge" sortOrder="110">
            <label>Bridge</label>
        </tab>
        <section id="bridge" sortOrder="1" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Store</label>
            <tab>bridge</tab>
            <resource>Platforme_Bridge::store</resource>
            <group id="store" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <comment>Store settings related with Platforme internals</comment>
                <label>Store</label>
                <attribute type="expanded">1</attribute>
                <field id="name" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Name</label>
                    <frontend_model>Platforme\Bridge\Block\Adminhtml\System\Config\Form\Field\InputDisabled</frontend_model>
                    <backend_model>Platforme\Bridge\Model\Config\Source\StoreName</backend_model>
                </field>
                <field id="config_url" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Config URL</label>
                </field>
                <field id="return_url" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Platforme\Bridge\Block\Adminhtml\System\Config\Form\Field\InputDisabled</frontend_model>
                    <label>Return URL</label>
                </field>
                <field id="replace_images" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Replace Images</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_import_topic" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Import Topic</label>
                    <source_model>Platforme\Bridge\Model\Config\Source\OrderImportTopic</source_model>
                </field>
                <field id="order_import_state" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Import State</label>
                    <source_model>Platforme\Bridge\Model\Config\Source\OrderImportState</source_model>
                </field>
            </group>
            <group id="customize_button" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customise Button</label>
                <attribute type="expanded">1</attribute>
                <field id="button_background_color" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Background Colour</label>
                    <source_model>Platforme\Bridge\Model\Config\Source\ButtonBackgroundColor</source_model>
                </field>
                <field id="button_orientation" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Orientation</label>
                    <source_model>Platforme\Bridge\Model\Config\Source\ButtonOrientation</source_model>
                </field>
                <field id="button_icon" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Icon</label>
                    <source_model>Platforme\Bridge\Model\Config\Source\ButtonIcon</source_model>
                </field>
                <field id="button_icon_position" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Icon Position</label>
                    <source_model>Platforme\Bridge\Model\Config\Source\ButtonIconPosition</source_model>
                </field>
                <field id="button_font" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Font</label>
                    <source_model>Platforme\Bridge\Model\Config\Source\ButtonFont</source_model>
                </field>
                <field id="button_css" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CSS</label>
                </field>
                <field id="button_text_color" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Text Color</label>
                    <source_model>Platforme\Bridge\Model\Config\Source\ButtonTextColor</source_model>
                </field>
                <field id="button_primary_text" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text (first line)</label>
                </field>
                <field id="button_secondary_text" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text (second line)</label>
                </field>
            </group>
        </section>
        <section id="operations" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Operations</label>
            <tab>bridge</tab>
            <resource>Platforme_Bridge::store</resource>
            <group id="operations" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Operations</label>
                <attribute type="expanded">1</attribute>
                <field id="import_order_history" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Import Order History</label>
                    <frontend_model>Platforme\Bridge\Block\Adminhtml\System\Config\Form\Field\Button</frontend_model>
                </field>
            </group>
        </section>
        <section id="development" sortOrder="3" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Development</label>
            <tab>bridge</tab>
            <resource>Platforme_Bridge::development</resource>
            <group id="general" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <comment>Development related settings</comment>
                <label>Development</label>
                <attribute type="expanded">1</attribute>
                <field id="bridge_base_url" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bridge Base URL</label>
                </field>
            </group>
        </section>
        <section id="platforme" sortOrder="4" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Platforme</label>
            <tab>bridge</tab>
            <resource>Platforme_Bridge::store</resource>
            <group id="operations" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <comment>Specific settings related with Platforme internals</comment>
                <label>Platforme</label>
                <attribute type="expanded">1</attribute>
                <field id="username" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username</label>
                    <frontend_model>Platforme\Bridge\Block\Adminhtml\System\Config\Form\Field\InputDisabled</frontend_model>
                </field>
                <field id="ripe_id_token" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>RIPE ID Token</label>
                    <frontend_model>Platforme\Bridge\Block\Adminhtml\System\Config\Form\Field\InputDisabled</frontend_model>
                </field>
                <field id="ripe_id_access_token" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>RIPE ID Access Token</label>
                    <frontend_model>Platforme\Bridge\Block\Adminhtml\System\Config\Form\Field\InputDisabled</frontend_model>
                </field>
                <field id="ripe_id_refresh_token" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>RIPE ID Refresh Token</label>
                    <frontend_model>Platforme\Bridge\Block\Adminhtml\System\Config\Form\Field\InputDisabled</frontend_model>
                </field>
                <field id="session_id" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Session ID</label>
                    <frontend_model>Platforme\Bridge\Block\Adminhtml\System\Config\Form\Field\InputDisabled</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
